page-home {

  .grid {
    padding: 0;
  }

  .col {
    padding: 0;
  }
  .rate ion-icon {
    color: #CCCC00;
  }

  a {
    cursor: pointer;
  }

  .list-header {
    margin-bottom: 0;
  }

  ion-list, ion-list-header {
    border-bottom: 1px solid #dedede;
  }

}
